.dat_seed {
	/* icon from Beaker Browser source code */
	background-image: url(dat_seed-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	filter: invert(50%);
	height: 100px;
	width: 116.666px;
}

.dat_seed:hover {
	filter: none;
}
