/* this is the static font list, only used if web fonts are disabled */

.glue-font0 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.glue-font1 {
	font-family: Arial, Helvetica, sans-serif;
}

.glue-font2 {
	font-family: 'Courier New', Courier, monospace;
}

.glue-font3 {
	font-family: Georgia, serif;
}

.glue-font4 {
	font-family: Tahoma, Geneva, sans-serif;
}

.glue-font5 {
	font-family: 'Times New Roman', Times, serif;
}
