.text {
	/* these are default widths and heights for new text objects */
	height: 100px;
	font-size: 16px;
	width: 100px;
	
	/* other default properties for text objects can be set here as well */
	/*
	background-color: ...;
	color: ...;
	font-style: ...;
	font-weight: ...;
	letter-spacing: ...;
	line-height: ...;
	text-align: ...;
	word-spacing: ...;
	*/
}

#glue-contextmenu-text-font-face.glue-text-font-family {
	background-image: url(text-font-family.png);
}

#glue-contextmenu-text-font-face.glue-text-font-face {
	background-image: url(text-font-face.png);
}

.glue-text-input {
	/* this is the textarea for editing */
	/* inherit as much as possible */
	background-color: inherit;
	border: 0px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	text-align: inherit;
	word-spacing: inherit;
}
